button {
    margin: 2px 0px;
    width: 24%;
    border-radius: 8px;
    font-size: 18px;
}

h1 {
    text-align: center;
}

.operator {
    background-color: lightgray;
}

.operator:hover {
    background-color: rgb(230, 230, 230);
}

#clearall {
    background-color: salmon;
}

#clearall:hover {
    background-color: rgb(252, 151, 140);
}

#equals {
    background-color: greenyellow;
}

#equals {
    background-color: rgb(179, 250, 71);
}

#calculator-body {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    width: 400px;
    height:500px;
    border: 2px solid lightgray;
    border-radius: 8px;
}

#calculator-screen {
    margin: 8px 10px;
    padding: 0px 5px;
    flex: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 36px;
    background-color: lightgray;
    border-radius: 8px;
}

#calculator-pad {
    margin: 4px;
    flex: 8;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

